<!-- THIS IS THE INDEX.HBS IN THE SNACKS SUBFOLDER -->
<div class="container">
  <h1>Snacks Index Page</h1>
  {{#each snacks}}
  <div class="row">
    <div class="col-md-2">
    <a href="/snacks/{{ this.id }}"><img src="{{ this.image_url }}"
        alt="{{ this.name }}"
        class="poster"></a>
    </div>
    <div class="col-md-6">
      <h2>{{ this.name }}</h2>
      <p>{{ this.image_url }}</p>
      <p>Review: {{ this.review_description }}</p>
      <p>Rating: {{ this.rating }}</p>
    </div>
  </div>
  {{/each}}
</div>
